server:
  port: 8006

spring:
  application:
    name: rdf-forge-triplestore-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/rdfforge
    username: rdfforge
    password: rdfforge
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    io.rdfforge: DEBUG
    org.apache.jena: INFO
    org.springframework: INFO
