.summary {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
    font-weight: bold;
}

.list-container {
    margin-top: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;

}