server:
  port: 8000

spring:
  application:
    name: rdf-forge-gateway
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/rdfforge}
          jwk-set-uri: ${KEYCLOAK_JWK_URI:http://localhost:8080/realms/rdfforge/protocol/openid-connect/certs}
  
  cloud:
    gateway:
      routes:
        - id: pipeline-service
          uri: ${PIPELINE_SERVICE_URL:http://rdf-forge-pipeline-service:8001}
          predicates:
            - Path=/api/v1/pipelines/**,/api/v1/operations/**,/api/v1/templates/**
        
        - id: shacl-service
          uri: ${SHACL_SERVICE_URL:http://rdf-forge-shacl-service:8002}
          predicates:
            - Path=/api/v1/shapes/**,/api/v1/validation/**
        
        - id: job-service
          uri: ${JOB_SERVICE_URL:http://rdf-forge-job-service:8003}
          predicates:
            - Path=/api/v1/jobs/**,/api/v1/schedules/**
        
        - id: data-service
          uri: ${DATA_SERVICE_URL:http://rdf-forge-data-service:8004}
          predicates:
            - Path=/api/v1/data/**
        
        - id: dimension-service
          uri: ${DIMENSION_SERVICE_URL:http://rdf-forge-dimension-service:8005}
          predicates:
            - Path=/api/v1/dimensions/**,/api/v1/hierarchies/**
        
        - id: triplestore-service
          uri: ${TRIPLESTORE_SERVICE_URL:http://rdf-forge-triplestore-service:8006}
          predicates:
            - Path=/api/v1/triplestores/**,/api/v1/sparql/**,/api/v1/graphs/**
      
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - Content-Disposition
              - X-Total-Count
              - X-Request-Id
              - Link

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 5
    instances:
      pipelineCircuitBreaker:
        baseConfig: default
      shaclCircuitBreaker:
        baseConfig: default
      jobCircuitBreaker:
        baseConfig: default
      dataCircuitBreaker:
        baseConfig: default
      dimensionCircuitBreaker:
        baseConfig: default
      triplestoreCircuitBreaker:
        baseConfig: default

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway,prometheus
  endpoint:
    health:
      show-details: when_authorized
    gateway:
      enabled: true

logging:
  level:
    io.rdfforge: DEBUG
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
    reactor.netty: INFO
