.content {
    min-height: 100px;
    margin-top: 40px;

}

.summary {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}