.error {
    background-color: #86171b !important;
}

.warning {
    background-color: #ce4d0c !important;
}

.info {
    background-color: #1a389a !important;
}

.mat-mdc-standard-chip {
    --mdc-chip-label-text-color: #fff;
}