.cube {
    display: flex;
    flex-direction: row;
    padding: 48px;
    min-height: 234px;
    background-color: #f0f4f7;
}

.field {
    display: flex;
    flex-direction: row;
}

.value {
    display: flex;
    flex-direction: column;
}

.lang {
    color: grey;
    font-size: 12px;
}

.label {
    color: black;
    font-weight: bold;
    font-size: 20px;

}

.profile {
    margin-top: 24px;
}